<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBhSW1ervZHM_b1oL7ozGQmOGahKH3IGY4</string>
	<key>GCM_SENDER_ID</key>
	<string>897675193975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.restaurantn.client</string>
	<key>PROJECT_ID</key>
	<string>syncflow-restaurant</string>
	<key>STORAGE_BUCKET</key>
	<string>syncflow-restaurant.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897675193975:ios:175069068c5ee8f476a072</string>
</dict>
</plist>
